/**
 * CSS color pallete
 * @url - https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc
 * $red: #ffadadff;
 * $orange: #ffd6a5ff;
 * $yellow: #fdffb6ff;
 * $green: #caffbfff;
 * $blue: #9bf6ffff;
 * $navy: #a0c4ffff;
 * $purple: #bdb2ffff;
 * $pink: #ffc6ffff;
 * $white: #fffffcff;
 */

.root {
  position: relative;
}
.row {
  display: inline-block;
  font-size: 0;
  width: 100%;
  vertical-align: middle;
  position: relative;
}
.cell {
  display: inline-block;
  border: 1px dashed black;
  box-sizing: border-box;
  width: calc(100% / 6);
  padding-top: calc(100% / 6);
}
.task-log {
  position: absolute;
  background-color: #fdffb6ff;
  border: 1px solid black;
  box-sizing: border-box;
}
