:root {
  --main-border-color: #dadce0;
  --main-font-color: #444950;
  --main-bg-color: #ffffff;
}

.planner {
  display: flex;
  background-color: black;
  height: 720px;
}
.todolist {
  width: 70%;
  height: 100%;
  background-color: red;
}
.timetable {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  font-family: sans-serif;
  color: var(--main-font-color);
  border: 1px solid var(--main-border-color);
}
.hours.hour-header {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hours.hour-header .hour {
  border-bottom: 1px solid var(--main-border-color);
  flex-grow: 1;
  height: 100%;
  padding: 5px 0;
}
.hours.hour-header .hour:last-child {
  border-bottom: none;
}
.contents {
  position: relative;
  width: 100%;
}
.contents .minutes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.contents .minutes .minute {
  flex-grow: 1;
  border-left: 1px solid var(--main-border-color);
}
.contents .hours {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.contents .hours .hour {
  flex-grow: 1;
  border-bottom: 1px solid var(--main-border-color);
  position: relative;
}
.contents .hours .hour:last-child {
  border-bottom: none;
}

.contents .hours .hour .timeline {
  position: absolute;
  height: 100%;
  top: 0;
}
